/* ActorDetailPage.css */
.actor-detail-page {
    padding: 20px;
  }
  
  .actor-detail-page h1 {
    margin-bottom: 10px;
  }
  
  .actor-detail-page ul {
    list-style: none;
    padding: 0;
  }
  
  .actor-detail-page li {
    margin-bottom: 5px;
  }
  